html{margin: 0; padding: 0;}
body{background: #000; float: left; width: 100%; margin: 0; padding: 0; font-family: 'Conv_SourceSansPro-Regular', sans-serif;}

/*********
jquery validation css
**********/
label.error , .errorclass{
	color:#e22c57!important;
}

/*********
common css
**********/
.full{width:100%; float:left;}
.half{width:50%;float: left;}
.main-inner-sec{padding: 40px 0 35px;}
.main-tb-sec{ display:table; width:100%; float: left;}
.form-col{width:64%; display:table-cell; background: #fff;  border-top-left-radius: 10px;  border-bottom-left-radius: 10px;}
.document-col{display:table-cell; width:36%; background: #f4f4f4;  border-top-right-radius: 10px;  border-bottom-right-radius: 10px;}
.form-col-inner{padding: 46px; min-height: 760px;}
.document-col-inner{padding: 38px 25px 0 25px; min-height: 760px; position: relative;}
.form-rw{width:60%; position: relative;}
.form-rw .form-group{margin-bottom: 25px;}
.form-rw label{font-weight: 500; font-size: 16px; color: #999999;}
.form-control{height: 46px; font-size: 16px;border: 1px solid #dadada;text-align: left!important;}
textarea.form-control{height: 80px;}
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #999999; font-size: 16px;}
.form-control::-moz-placeholder { /* Firefox 19+ */ color: #999999; font-size: 16px;}
.form-control:-ms-input-placeholder { /* IE 10+ */ color: #999999; font-size: 16px;}
.form-control:-moz-placeholder { /* Firefox 18- */ color: #999999; font-size: 16px;}
.go-paperless-sec h4{font-size: 24px; color: #01b792;}
.go-paperless-sec p{font-size: 16px; color: #999999;}
.go-paperless-sec{padding-left: 80px; position: relative;}
.addhar-img-sec{ width: 68px; position: absolute; left: 0;}
.glyphicon-menu-down, .hi-txt{color:#fff;}
.user-name{color: #00c493;}
.radio-list{margin: 0; padding:0; width:100%; float:left;}
.radio-list li{color: #AAAAAA; display: inline-block; position: relative;}
.radio-list li input[type=radio]{position: absolute; visibility: hidden;}
.radio-list li label{display: block; position: relative; font-weight: 300; padding: 15px 25px 25px 35px; margin: 0 auto; height: 30px; z-index: 9; cursor: pointer; -webkit-transition: all 0.25s linear; color:#333; font-size: 18px;}
/*.radio-list li:hover label{color: #FFFFFF;}*/
.radio-list li .check{display: block; position: absolute; border: 2px solid #cfcfcf; border-radius: 100%; height: 25px; width: 25px; top: 15px; left: 0; z-index: 5; transition: border .25s linear; -webkit-transition: border .25s linear;}
/*.radio-list li:hover .check {border: 5px solid #FFFFFF;}*/
.radio-list li .check::before {display: block; position: absolute; content: ''; border-radius: 100%; height: 15px; width: 15px; top: 3px; left: 3px; margin: auto; transition: background 0.25s linear; -webkit-transition: background 0.25s linear;}
input[type=radio]:checked ~ .check {border: 2px solid #01b792;}
input[type=radio]:checked ~ .check::before{background: #01b792;}
input[type=radio]:checked ~ label{color: #01b792;}
.full.form-rw{width:100%; padding-bottom: 30px;}
.main .hi-box{padding-top: 87px;}
.txt-color{color:#01b792;}
.form-control.removeborder{border-right: 0;}
.gry-txt{color:#999999;}
.center-img{display: block;margin: 0 auto; max-width: 100%;}
.center-span{display: table; margin: 0 auto;}
.msgError{color:#e22c57;display:block;}
.negavtivemargin{margin-top: -10px;}
/*********
Password Page css
**********/
.form-para-sec{padding-bottom: 30px;}
.form-title{font-size: 35px; font-family: 'Conv_RobotoCondensed-Light'; color:#000000; margin: 0; padding-bottom: 30px;}
.form-para{font-size: 18px; color:#999999;font-family: 'Conv_SourceSansPro-Regular';    font-weight: 500;}
.white-btn,.blue-btn{background: #3399ff;  border:1px solid #3399ff; padding: 15px 30px; font-size: 18px; text-transform: uppercase; color: #fff; font-weight: 500; font-family: 'Conv_RobotoCondensed-Regular';}
.white-btn{background: #ffffff !important; color:#3399ff !important;}
.blue-btn:hover{background: #fff; color:#3399ff;}
.req-doc-sec{position: absolute; width:100%; left:0; bottom: 0;}
.hi-box, .req-doc-box{width:100%; padding: 0 40px; float:left;}
.hi-box{padding: 20px 40px; position: relative;}
.req-img-sec{padding-left: 35%;}
.req-doc-box-inner{width:100%; float:left; padding:20px; border-radius: 20px; background: #fff; box-shadow:  0 0 10px rgba(242, 242, 242, 0.90); -moz-box-shadow:  0 0 10px rgba(242, 242, 242, 0.90); -webkit-box-shadow: 0 0 10px rgba(242, 242, 242, 0.90); -o-box-shadow:  0 0 10px rgba(242, 242, 242, 0.90); position: relative;}
.hi-box-inner{width:100%; float:left; padding:20px; border-radius: 20px; background: #fff; -webkit-filter: drop-shadow(-7px 14px 2px #e9e9e9); filter: drop-shadow(-7px 14px 2px #e9e9e9);}
.hi-box-inner{position: relative; z-index: 1;}
.req-doc-box-inner:after{content: ''; position: absolute; bottom: -22px; left: 16px; width: 20px; height: 24px; border-radius: 50%; background: #f4f4f4;}
.hi-box:before{content: ''; position: absolute; left: 90px; width: 20px; height: 23px; border-radius: 50%; background: #f4f4f4; top: -1px;}
.hi-box-inner:after{content: ''; position: absolute; bottom: -30px; z-index: -1; box-shadow: -25px 0 0 0 #fff; border: 52px solid transparent; border-radius: 50%; left: 58px;}
.hi-box-inner.on-req-bx h4, .req-doc-box-inner h4{color: #000; text-transform: uppercase; margin: 0; font-family: 'Conv_RobotoCondensed-Regular'; padding-bottom: 0;}
.req-list, .req-doc-box-inner ul{margin: 0; padding: 20px 0 0; list-style: none;}
.req-list li, .req-doc-box-inner ul li{padding: 12px 0; border-bottom: 1px solid #efefef; color: #999999; font-size: 15px;   list-style-image: url('../../../images/bullet.png'); list-style-position: inside;}
.req-list li span, .req-doc-box-inner ul li span{padding-left: 15px;}
.req-list li:last-child, .req-doc-box-inner ul li:last-child{border-bottom: none; padding-bottom: 0;}
.hi-box-inner h4{margin: 0; text-transform: uppercase; color: #01b792; padding-bottom: 25px;  font-family: 'Conv_RobotoCondensed-Regular';}
.hi-box-inner p:last-child{padding-bottom: 0;}
.profile-img-sec h4 span, .hi-box-inner h4 span{color: #000;}
.hi-box-inner p{margin: 0; font-size: 16px; color: #999999; padding-bottom: 30px;}
.hi-box-inner .remove-padding {padding-bottom: 0; color:;}
.hi-box-inner .gry-txt{color: #666666;padding-bottom: 15px;}
.circle-bx{width: 40px; height: 40px; background: #fff; position: absolute; bottom: -40px;}
.login-para-sec p{font-size: 18px; color: #999; padding: 30px 30px 0;}
.login-para-sec p a{text-transform: uppercase;}
.navbar-brand img.mobi-logo, .mobi-logo, .mobi-hi-sec, .mobi-join{display:none;}
.mobi-hi-sec-inner{padding: 15px 15px 0; background: #f4f4f4; display:none;}
.profile-img-sec{padding-left: 60px;}
.profile-img-sec h4{margin: 0; text-transform: uppercase; color: #01b792; font-family: 'Conv_RobotoCondensed-Regular';}
.profile-img-sec p{padding-top: 6px; font-family: 'Conv_RobotoCondensed-Regular'; text-transform: uppercase; margin: 0;}
.profile-img{position: absolute; left: 18px;}
.profile-img-sec, .up-arrow-sec{display: table-cell; width: auto;}
.up-arrow-sec{vertical-align: middle; text-align: right;}
.up-arrow-sec .fa{color: #cccccc; font-size: 25px; font-weight: normal;}
.dc-block{display: block !important;}
.mobi-hi-sec-inner.mobi-open{background: #000; box-shadow: none; padding: 30px 45px 20px; position: relative;}
.mobi-hi-sec-inner.mobi-open:after{position:absolute; left:70px; top:0; content: ''; width: 0; height: 0; border-left: 15px solid transparent; border-right: 15px solid transparent; border-top: 15px solid #fff;}
.mobi-hi-sec-inner.mobi-open .profile-img-sec p, .mobi-hi-sec-inner.mobi-open .profile-img-sec h4 span{color: #fff;}
.mobi-hi-sec-inner.mobi-open.bt-mobi-inner{display: none;}
.main-navbar.navbar-inverse .navbar-collapse{border-color: #fff; padding-right:0; padding-left: 0; }
.mobi-close-btn{position: absolute; top: 5px; right: 20px; font-size: 30px; color:#3399ff; display:none;}
.sign-mobi-btn{display: none; position: absolute; right: 15px; text-transform: uppercase; font-size: 14px; top: 22px;}

.identity-tab .success-tab .text-capital img.mobi-success-icon{display: none;}
.identity-tab li .text-capital span.mobi-circle-no{width: 23px; height: 23px; border: 1px solid #777; border-radius: 100%; line-height: 23px; margin-right: 2px; display: none;}


/*********
Forgot Password Page css
**********/
.go-back-sec{padding-top: 45px;}
.go-back-sec p{font-size: 16px;}
.go-back-sec p a{text-transform: uppercase;}
.forget-sec .form-col{vertical-align: top;}
.forget-sec .document-col-inner, .forget-sec .form-col-inner{min-height: auto;}
.forget-sec .hi-box{padding: 20px 10px;}
.forget-sec .req-doc-sec{position: static;}
.forget-sec .go-paperless-sec{padding-bottom: 40px;}


/*********
Email Send Page css
**********/
.emil-send-sec{text-align: center;}
.emil-send-sec .i-amphtml-ghost{visibility: visible!important;}
.emil-send-sec{text-align: center; background: #fff; padding: 40px 20px 65px; border-radius: 10px;}
.emil-send-sec .user-name{display: block; color:#000;}
.emil-send-sec .user-name span{color: #01b792;}
.user-name{font-size: 16px; font-weight: normal; padding: 25px 0; margin: 0; font-family: 'Conv_RobotoCondensed-Regular'; color: #01b792;}
.user-name span{color: #000;}
.email-para{margin: 0; font-size: 26px; padding-bottom: 25px;}
.mail-msg{font-size: 18px;  font-family: 'Conv_RobotoCondensed-Regular'; color: #999999; margin-bottom: 20px;}
.resend-btn{padding:15px 28px; text-align: center; text-transform: uppercase; color:#fff; background: #3399ff; font-size: 18px; border:1px solid #3399ff;}
.resend-btn:hover{background: #fff; color: #3399ff;}
.email-send-img-sec{border-bottom: 1px dashed #dadada;}
.resend-sec{padding-top: 15px;}
.email-send-sec-inner{width:520px; margin: 0 auto;}

/*********
Reset Password Page css
**********/
.correct-arw{position: absolute; right: -35px;bottom: 12px; display: none;}
.rem-sec{float: left; padding-left: 10px;}
.for-sec{float: right;}
.rest-pass-sec .form-col{width:100%; border-radius: 10px;}
.change-pass-rw{margin:0 -15px;}
.change-pass-rw .form-rw{padding: 0 15px; float: left; width:40%;}
.change-pass-rw .rest-btn-rw{width:20%; padding: 0 15px; float: left; margin-top: 25px;}
.change-pass-rw .blue-btn{padding: 10px 30px; width:100%;}
.rest-pass-sec  .form-col-inner{padding: 60px 180px; text-align: center;}
.rest-pass-sec  .form-title{padding-top: 30px;}
.rest-pass-sec  .form-col-inner form{text-align: left;}


/*********
SignIn Page css
**********/
.forget-rw{width:100%; float:left; padding-bottom: 18px;}
.rem-sec, .frg-pass{font-size: 16px;  font-family: 'Conv_RobotoCondensed-Regular'; color: #999999;}
.squaredThree input[type=checkbox] {visibility: hidden;}


/* SQUARED THREE */
.squaredThree{width: 22px; margin: 0 auto; position: relative; display: block; float: left;}
.squaredThree label{cursor: pointer; position: absolute; width: 22px; height: 22px; top: 1; left:-10px; border-radius: 4px; background: #999999;}
.squaredThree label:after{-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)"; filter: alpha(opacity=1); opacity: 1; content: ''; position: absolute; width: 13px; height: 6px; background: transparent; top: 7px; left: 4px; border: 3px solid #fcfff4; border-top: none; border-right: none; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg);}
.squaredThree input[type=checkbox]:checked + label{ background: -webkit-linear-gradient(top, #01b792 0%, #01b792 100%); background: -moz-linear-gradient(top, #01b792 0%, #01b792 100%); background: -o-linear-gradient(top, #01b792 0%, #01b792 100%); background: -ms-linear-gradient(top, #01b792 0%, #01b792 100%); background: linear-gradient(top, #01b792 0%, #01b792 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01b792', endColorstr='#01b792',GradientType=0 );}
/*.squaredThree label:hover::after {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; filter: alpha(opacity=30); opacity: 0.3;}*/
.squaredThree input[type=checkbox]:checked + label:after {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); opacity: 1;}
.navbar-nav>li>.dropdown-menu.login-drop{margin-top: -82px; margin-right: 16px; border:none; border-radius: 5px;}
.navbar-nav>li>.dropdown-menu.login-drop > li a{color: #333333;  text-transform: none;}

/*********
Navbar css
**********/
.navbar-inverse.main-navbar{background-color: transparent; border-color: transparent; padding-top: 18px; font-family: 'Conv_RobotoCondensed-Regular'; margin-bottom: 0;}
.navbar-inverse.main-navbar .navbar-brand{padding: 25px 0;}
.navbar-inverse.main-navbar.inner-navbar .navbar-brand{padding: 15px 0;}
.navbar-inverse.main-navbar .nav {margin-top: 12px; margin-right: 0;}
.navbar-inverse.main-navbar .nav > li{font-size: 18px; font-weight: 500;}
.navbar-inverse.main-navbar .nav > li a,.navbar-inverse.main-navbar .nav > li button{color: white; text-transform: uppercase;}
.navbar-inverse.main-navbar .nav > li a:hover{color: #3399ff;}
.navbar-inverse.main-navbar .nav > li button{margin-left: 20px;}
.navbar-inverse.main-navbar .nav > li .btn{display: inline-block; padding: 13px 26px; margin-bottom: 0; font-size: 16px; font-weight: 400; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px;}
.navbar-inverse.main-navbar .nav > li .btn-primary{background-color: #3399ff;}
.navbar-inverse.main-navbar .nav > li .btn-primary:hover{background-color: #ffffff; color: #3399ff;}
.account-href span{font-size: 14px;}
.account-href:hover{color: white;}
.dropdown .dropdown-toggle:hover{background-color: white;}
.account-href .glyphicon-menu-down{margin-left: 15px;}
.navbar-inverse.main-navbar.inner-navbar .navbar-right .account-href img.inner-user-icon{padding-right: 6px;}
.navbar-inverse.main-navbar.inner-navbar .navbar-right .account-href img.mobi-user-icon{display: none;}


/*********
Content css
**********/
.main {padding: 40px 0 35px; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; overflow-x: hidden; overflow-y: auto; -webkit-overflow-scrolling: touch; position: relative;}
.main .form-col-tab-inner, .main .document-col-inner{min-height: auto;}
.main .form-col, .main .document-col{display: table-cell; vertical-align: top; float: none;}
.main-inner{display:table;}
.main .form-col{background-color: #fff;border-top-left-radius: 10px;  border-bottom-left-radius: 10px;}
.main .form-col-tab-inner{background: #fff;  border-top-left-radius: 10px;  border-bottom-left-radius: 10px;}
.main .document-col{background: #f4f4f4;  border-top-right-radius: 10px;  border-bottom-right-radius: 10px;}
.main .req-doc-sec{position: static;}
.adhaarcss{padding-top: 35px; color: #a0a0a0;}
.adhaar-sec .blue-btn,.adhaar-sec .white-btn{margin-top: 30px;}
.adhaar-sec .btn-margin{margin-left: 20px;}
.form-rw label{font-weight: 500; font-size: 16px; color: #999999;}
.blue-btn:disabled,.blue-btn[disabled]{border: 1px solid #999999; background-color: #999999; color: #fff;}


/*********
Tab css
**********/
.wizard{/*margin: 20px auto;*/ background: #fff; border-radius: 10px;}
.form-col-tab-inner{padding: 0; background: #fff; border-top-left-radius: 10px; border-bottom-left-radius: 10px; min-height: 760px;}
.wizard .nav-tabs{position: relative; /*margin: 40px auto;*/ margin-bottom: 0; border-bottom-color: #e0e0e0; font-family: 'Conv_RobotoCondensed-Regular';}
.wizard > div.wizard-inner{position: relative;}
.connecting-line{height: 2px; background: #e0e0e0; position: absolute; width: 80%; margin: 0 auto; left: 0; right: 0; top: 50%; z-index: 1;}
.wizard .nav-tabs > li.active > a,.wizard .nav-tabs > li.active > a:hover,.wizard .nav-tabs > li.active > a:focus{color: #3399ff; cursor: default; border: 0; border-bottom-color: transparent;}
span.round-tab{/*width: 70px; height: 70px; line-height: 70px; display: inline-block; border-radius: 100px; background: #fff; border: 2px solid #e0e0e0; z-index: 2; position: absolute; left: 0; text-align: center; font-size: 25px;*/}
span.round-tab i{color: #555555;}
.wizard li.active span.round-tab{background: #fff; /* border: 2px solid #5bc0de;*/}
.wizard li.active span.round-tab i{color: #3399ff;}
.wizard-finish{color: #3399ff;}
span.round-tab:hover{color: #333; /* border: 2px solid #333;*/}
.wizard .nav-tabs > li{width: 20%; font-size: 13px;}
.wizard li:after{/* content: " "; position: absolute; left: 46%; opacity: 0; margin: 0 auto; bottom: 0px; border: 5px solid transparent; border-bottom-color: #5bc0de; transition: 0.1s ease-in-out;*/}
.wizard li.active:after{/* content: " "; position: absolute; left: 46%; opacity: 1; margin: 0 auto; bottom: 0px; border: 10px solid transparent; border-bottom-color: #5bc0de;*/}
.wizard .nav-tabs > li a{/*width: 70px; height: 70px;*/ /* margin: 20px auto;*/ padding: 0; border-radius: 10px; margin-top: 20px;}
.wizard .nav-tabs > li a:hover{background: transparent;}
.wizard .tab-pane{position: relative; padding: 50px 45px; width: 100%; float: left;}
.wizard h3{margin-top: 0;}
/*@media( max-width: 585px){
.wizard{width: 90%; height: auto !important;}
span.round-tab{font-size: 16px; width: 50px; height: 50px; line-height: 50px;}
.wizard .nav-tabs > li a{width: 50px; height: 50px; line-height: 50px;}
.wizard li.active:after{content: " "; position: absolute; left: 35%;}
}*/
.identity-tab .success-tab .text-capital span{color:#01b792;}
.identity-tab li .text-capital img{display:none; vertical-align: middle;}
.identity-tab .success-tab .text-capital img{display:inline-block;}
.success-icon{padding-right: 6px;}
.identity-tab li .text-capital span{display: inline-block; vertical-align: middle;}

/*********
Identity css
**********/
.identity-tab,.identity-tab li a{border: 0;}
.icon-responsive{display: block; margin: 0 auto;}
.text-capital{text-transform: uppercase; margin-top: 20px;}
.identity-tab li{border-right: solid 1px #e5e5e5;}
.identity-tab li:last-child{border: 0px;}
.id-sec{margin-top: 35px; color: #999999; font-size: 18px;}
.cam-wrapper{width: 100%;display: block; position: relative; background-size: 100% 100%; background: url('../../../images/camera_bg.png') top center no-repeat; margin: 0 auto; height:285px;}
/*.cam-wrapper:after{padding-top: 66%; /* this llama image is 800x600 so set the padding top % to match 600/800=.75  display: block; content: '';}*/
.cam-main{position: absolute; top: 0; bottom: 0; right: 0; left: 0; color: black; text-align: center; margin-top: 5%;}
.cam-main .pcam{color: #fff; display: block; text-align: center; margin: 30px 30px 0px; font-family: 'Conv_SourceSansPro-Regular'; font-size: 16px; font-weight: 500;}

#errorpic{display: none;}
#takepic{display: block;}
#retakepic{display: none;}
#add-txt{display: none;}
.webcamicon{background-image: url('../../../images/cam-icon.png'); background-repeat: no-repeat; background-position: 22px 16px;}
.blue-btn.webcamicon{padding-left: 47px;}
.webcamicon:hover{background-image: url('../../../images/cam-blue-icon.png'); background-repeat: no-repeat; background-position: 22px 16px;}
.pcam.error-cam{text-align: left; color: #e22c57; background: #fdf0f3; padding: 20px; margin: 30px 30px 0px; border: 1px solid #e22c57; border-radius: 5px;}
.change-arrow{background: url('../../../images/icons/select-arrow.png') no-repeat scroll 95% 50%;}
.half-rw{margin: 0 -15px; width: 60%;}
.half{padding: 0 15px;}
select.form-control{border-radius: 3px; border: 1px solid #dadada; -webkit-appearance: none; -moz-appearance: none; appearance: none; position: relative; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
/* remove default caret for ie */
.half .form-control::-ms-expand{display: none;}
.cam-half{width: 88%; margin: 0 auto;}
.half-cross{display: block; width: 15%; float: left;}
.half-txt{display: block; width: 85%;}
.input-group-addon.removeback{background-color: transparent;}
.country-add{display: none;}
.permanent-add{display: block;}
.show-add{display: block;}
.style.colorDefinition.size_sm.resend-otp{font-size:16px;background: none; border:0;color:#01b792;font-weight: 600;font-family: 'Conv_SourceSansPro-Regular';}
.info-span{margin-top: 10px;display: inline-block; color: #a0a0a0;}
.info-span img{margin-bottom: 3px}
.watch-btn img{padding-right: 5px;}
.watch-btn{text-decoration: none !important; color:#3399ff !important; cursor: pointer; font-size: 14px;}
.tax_table thead{text-transform: uppercase; border: none !important;}
.tax_table td, .tax_table th { border: none !important;}
.tax_table td .country_text{display: block;border: 1px solid #999999;padding: 10px 0px;font-size: 16px;color: #999999;font-family: 'Conv_SourceSansPro-Regular' }
.numberdisplay{ display: block;height: 25px; width: 25px;line-height: 25px;-moz-border-radius: 30px;border-radius: 30px;background-color: #3399ff; color: white;text-align: center;font-size: 14px;position: absolute; vertical-align: middle;left: -2px; }
.align1{ top: 54px;}
.align2{ top: 114px;}
.align3{ top: 173px;}
/*********
Sign Up Page css 
**********/
.term-rw{width:100%; float: left;}
.term-rw p{font-size: 14px; margin-bottom: 25px; color:#cfcfcf;}
.term-rw p a{color:#3399ff;}
.bank-rw .form-rw .form-group{margin-bottom: 0;}
.sign-up-section{padding: 0 30px 0 0;}
.sign-up-section .name-rw{padding-bottom: 0 !important;}


/*********
Bank Details Page css 
**********/
.bank-rw{margin:0 -23px; clear:both;}
.frm-col{padding: 0 23px; width:50%; float: left;}
.add-remove, .add-det{color: #3399ff; font-size: 18px; font-family: 'Conv_RobotoCondensed-Regular'; cursor: pointer; display: table;}
.add-remove{margin-top: 2px; float: right;}
.add-remove span, .add-det span{padding-left: 12px; display: table-cell; vertical-align: middle;}
.add-det .add-in-nom{display: block;}
.disable-btn{background: #cccccc; border: 1px solid #cccccc;}
.disable-btn:hover{border: 1px solid #3399ff;}
/*.add-an-det-rw{padding-top: 10px;}*/
.bank-info-para{font-size: 12px; color: #999999; margin: 0; padding-top: 10px;}
.bank-title{margin: 0 0 25px; font-size: 20px; color: #3399ff; display: table; padding-bottom: 2px; padding-top: 20px; text-transform: uppercase; width:100%;}
.add-account{display:none;}
.adhaar-sec .bank-account-sec{border-bottom: 1px dashed #ccc;}
.addhar-br{border-bottom:none !important; }
.adhaar-sec .addhar-bt{border-top: 1px dashed #ccc; border-bottom:none; }
.adhaar-sec .bank-account-sec:nth-child(2){border-top: 1px dashed #ccc; border-bottom: 1px dashed #ccc;}
#nomineeDetails .adhaar-sec .bank-account-sec:nth-child(2){border-bottom: none;}
.cheque-rw{padding: 20px 0; border-bottom: 1px solid #ccc;}
.cheque-rw p{font-size: 14px; padding-top: 10px;}
.cheque-fr-rw{padding-top: 0;}
.hi-box-inner .cheque-rw:last-child{border-bottom: none; font-family: 'Conv_SourceSansPro-Regular', sans-serif; padding-bottom: 0; cursor: pointer;}
body .modal-backdrop{z-index: 1040;}
.ekyc-modal.modal.in .modal-dialog{z-index: 2;}
.ekyc-modal.modal .modal-dialog{width:642px;}
.ekyc-modal.modal .modal-header{border-bottom: none; background: transparent; border-radius: 0px;}
.ekyc-modal.modal .modal-body{padding: 0;}
.ekyc-modal.modal .modal-content{background: transparent; -webkit-box-shadow: none; box-shadow: none; border:none; border-radius: 0;}
.close{font-size: 34px; font-weight: normal; color:#3387c6; text-shadow: none; margin-top: 0; opacity: 1;}
.close:hover, .close:focus{color:#fff;  opacity: 1;}
.close span{font-size: 18px; display:inline-block; vertical-align: top; margin-top: 8px;}
.modal-backdrop.in{opacity: 0.9;}
.ekyc-modal.modal {text-align: center; padding: 0!important;}
.ekyc-modal.modal:before {content: ''; display: inline-block; height: 100%; vertical-align: middle; margin-right: -4px;}
.ekyc-modal .modal-dialog {display: inline-block; text-align: left; vertical-align: middle;}
.error-msg{background: #fdf0f3; padding: 20px; margin: 10px 0 0; border: 1px solid #f8cad5; border-radius: 5px; display:none;}
.cls-btn{font-size: 18px; text-transform: uppercase; color:#e22c57;}
.cls-btn img{margin-right: 10px;}
.error-msg p{margin: 0; color: #666666; font-size: 16px; padding-top: 15px;}
.ifse-code-rw{font-size: 16px; color:#fff; text-align: center; display: block; padding-top: 15px; font-family: 'Conv_SourceSansPro-Regular', sans-serif;}
.bank-icon{display:inline-block; vertical-align: middle; padding-right: 10px;}
.bank-rw{margin:0 -23px;}
.frm-col{padding: 0 23px; width:50%; float: left;}



/*********
Additional Details Page css 
**********/
.tooltip-sub-title{font-size: 14px; color: #333333; padding-bottom: 15px; display: block; font-weight: bold;}
.form-rw .form-control[disabled], .form-rw .form-control[readonly], fieldset[disabled]{background-color: #fff; color: #999999;}
.add-dt-lst.radio-list li label{height:auto; padding: 15px 25px 6px 35px;}
.edit-btn{text-transform: uppercase; float: right;}
.edit-title-rw .bank-title{float: left; display: block; width:auto;}
.edit-title-rw .edit-btn, .edit-title-rw .save-btn{text-transform: uppercase; float: right; margin-top: 28px; font-size: 16px; color:#3399ff; font-family: 'Conv_RobotoCondensed-Regular'; cursor: pointer;}
.edit-title-rw .save-btn{display: none;}
.edit-title-rw .save-btn img, .edit-title-rw .edit-btn img{padding-right: 6px;}
.frm-subtitle{font-size: 16px; color:#666666; margin:0;}
.bank-rw .frm-subtitle{width: 100%; float: left; margin: 0 23px; padding-bottom: 15px;}
.note-para{font-size: 14px; color:#999999; padding-top: 15px; margin: 0; width:100%; float: left;}
.note-para span{text-transform: uppercase; color:#666666;}
.preview-ekyc-btn{font-size: 16px; color: #3399ff; float: right; margin-top: 45px;}
.view-pdf-rw{width: 100%; float: left; padding-top: 35px; padding-left: 10px; padding-bottom: 30px;}
.view-pdf-rw p{font-size: 16px; margin: 0;}
.plan-sec-rw{margin: 0 -8px;}
.plan-col{width:33.33%; float: left; padding: 0 8px;}
.plan-title{font-size: 26px; font-family: 'Conv_RobotoCondensed-Light'; color: #3399ff; margin:0 0 25px; text-transform: uppercase;}
.plan-col-inner{background: #eaf5ff; border:1px solid #c1e0ff; margin-bottom: 40px; border-radius: 15px; position: relative;}
.plan-info{padding: 40px 20px 25px;  border-bottom:1px solid #c1e0ff;}
.plan-price-sec{padding: 20px;}
.plan-status{font-size: 16px; color:#99b5ce; margin-bottom: 15px;}
.plan-para{font-size: 18px; font-family: 'Conv_RobotoCondensed-Light'; color:#333333;}
.plan-price{font-size: 30px; text-transform: uppercase; color:#333333;}
.order-para{font-size: 14px; color:#999999;}
.circle-no{height: 30px; width: 30px; background: #3399ff; display: block; text-align: center; line-height: 30px; border-radius: 100%; position: absolute; top: -12px; left: 15px; color: #fff; font-size: 16px;}
.radio-full-lst li{display: block;}
.mobi-add, .exist-demat-ac{display: none;}
.display-block{display: block !important;}

/*********
Upload Documents Page css 
**********/
.file {visibility: hidden; position: absolute;}
.uploadbtn-primary,.uploadbtn-primary:hover{background-color: #fff; border: 1px solid #dadada; border-left: 0; color:#3399ff; border-radius: 6px; font-family:'Conv_RobotoCondensed-Regular';}
.uploadbtn-primary img{padding-bottom: 3px;}

/*********
Payment Summary Page css 
**********/
.pay-label{color: #666666; font-size: 18px;}
.pay-sum-rw{padding-bottom: 30px;}
.pay-amt{float: right; color: #333333; font-size: 18px; font-weight: bold; text-align: right;}
.pay-amt.pay-dash{text-align: center;}
.pay-sum-sec{border-bottom: 1px dotted #ccc; padding-top: 30px;}
.pay-sum-sec:first-child{padding-top: 0;}
.cp-label{color: #999999; font-size: 16px; padding-top: 18px; float: left;}
.cp-box{float: right; width: 300px; padding: 18px 24px; border-radius: 3px; border: 1px solid #dadada;}
.apply-btn{float: right; font-size: 18px;}
.cp-code{font-size: 18px;}
.total-label, .total-price{color:#3399ff; font-size: 20px; font-weight: 600;}
.total-price{float:right;}
.br-btm{border-bottom: none;}
.later-btn{font-size: 18px; text-transform: uppercase; font-weight: 500; font-family: 'Conv_RobotoCondensed-Light'; color:#999999; background: none; margin-left: 10px;}
.btn:active, .btn:active:focus, .btn:focus, .btn.focus{outline:none; box-shadow: none;}
.pay-later-title{font-size: 20px; color:#333333; margin: 0; text-align: center; font-family: 'Conv_SourceSansPro-Regular', sans-serif;}
.pay-cheque-col{width: 50%; float: left; padding: 30px 18px; border: 1px solid #dadada; margin: 35px 0; border-radius: 15px;}
.pay-main-sec{padding-top: 25px; font-family: 'Conv_SourceSansPro-Regular', sans-serif;}
.pay-main-sec h6{font-size: 16px; color: #999999; padding-bottom: 25px; margin: 0;}
.account-name{font-size: 16px; color: #666666; padding: 18px 0; float: left; width: 100%;}
.pay-main-sec p{margin: 0; font-size: 14px; color: #333333;}
.check-rw{float: left; width: 100%; padding-bottom: 20px; display:table;}
.check-rw:last-child{padding-bottom:0;}
.check-rw .check-label{display: table-cell; width:133px; color:#333333; font-size: 14px; vertical-align: top; font-weight: 600;}
.check-rw .check-data{display: table-cell; width:auto; color:#666666; font-size: 16px; vertical-align: top; text-align: right;}
.padding-tp{padding-top: 20px;}
.edit-trading-sec{display: none;}


/*********
Payment Successful Page css 
**********/
.pay-successful-para{font-size: 35px; margin: 0; padding: 35px 0 25px 0;}
.pay-success-txt{font-size: 16px; color:#666666; width: 400px; margin: 0 auto;}
.tra-msg{color: #01b792; font-size: 20px; margin: 0; padding-bottom: 30px; font-family: 'Conv_RobotoCondensed-Regular';}
.ahead-sec{padding: 40px 0 0;}
.tra-id{font-family: 'Conv_RobotoCondensed-Bold';}
.dis{display: none;}


/*********
Reset Password Successful Page css
**********/
.main-tb-sec.pass-successful-sec .form-col-inner{text-align: center; padding: 90px; min-height: auto;}
.main-tb-sec.pass-successful-sec .document-col-inner{min-height: auto;}
.pass-para{font-size: 18px; font-family: 'Conv_SourceSansPro-Regular', sans-serif; color: #999999; margin: 0; padding: 40px 0;}
.main-tb-sec.pass-successful-sec .req-doc-sec{position: static;}
.main-tb-sec.pass-successful-sec  .document-col-inner{padding: 125px 25px 0 25px;}
.main-tb-sec.pass-successful-sec .document-col{vertical-align: top;}

/*********
Plan Selection Page css
**********/
.holder{position: relative; height: 258px; width: 274px; border: 1px solid #f4f5f6; text-align: center;}
.holder .mask{position: absolute; bottom: -15px; /*border:1px solid green;*/ width: 40%; left: 30%; background-color: #fff; text-align: center;}
.plan-txt{color: #30a4d4; font-family: 'Conv_RobotoCondensed-Regular'; font-size: 16px; font-weight: 500; text-transform: uppercase;}
.plan-txt2{color: #999999; font-family: 'Conv_SourceSansPro-Regular'; font-size: 16px; font-weight: 500; text-align: center; padding: 20px;}

/*plan checkbox css*/
.input-container input[type=checkbox]:not(old){opacity: 0; /* match the dimentsions of the custom label */ width: 20px; height: 20px; padding: 0; margin-top: 18px; position: relative;}
.input-container label{position: relative;}
.input-container label::after{/* content: url(../../../images/check-img.png);*/ content: ""; position: absolute; background: transparent url('../../../images/uncheck-img.png') center center no-repeat; /* background-position: 0 0;*/ top: -15px; left: -22px; /*cover the default input */ width: 20px; height: 20px; border-radius: 3px; border: 1px solid #f4f5f6; transform: rotate(0); pointer-events: none; text-align: center; color: #FFF; /* easier to see */}

/** * The tick */
.input-container input[type=checkbox]:checked + label:after{background: transparent url('../../../images/check-img.png') center center no-repeat; border: 1px solid #01b792;}.half-row{margin: 0 -15px;}.dmaholder{position: relative; height: 200px; width: 274px; border: 1px solid #01b792; text-align: center;}.dmaholder .mask{position: absolute; bottom: -15px; /*border:1px solid green;*/ width: 40%; left: 30%; background-color: #fff; text-align: center;}#dmaholder .plan-txt{padding: 0 20px;}

/*product demat checkbox css*/
.prodctinput-container input[type=checkbox]:not(old){opacity: 0; /* match the dimentsions of the custom label */ width: 20px; height: 20px; padding: 0; margin-top: 18px; position: relative;}.prodctinput-container label{position: relative;}.prodctinput-container label::after{content: ""; position: absolute; background: transparent url('../../../images/uncheck-img.png') center center no-repeat; /* background-position: 0 0;*/ top: -15px; left: -22px; /*cover the default input */ width: 20px; height: 20px; border-radius: 3px; border: 1px solid #f4f5f6; transform: rotate(0); pointer-events: none; text-align: center; color: #FFF; /* easier to see */}

/** * The tick */
.prodctinput-container input[type=checkbox]:checked + label:after{background: transparent url('../../../images/check-img.png') center center no-repeat; border: 1px solid #01b792;}

/*product existing demat checkbox css*/
.prodctinput2-container input[type=checkbox]:not(old){opacity: 0; /* match the dimentsions of the custom label */ width: 20px; height: 20px; padding: 0; margin-top: 18px; position: relative;}.prodctinput2-container label{position: relative;}.prodctinput2-container label::after{content: ""; position: absolute; background: transparent url('../../../images/uncheck-img.png') center center no-repeat; /* background-position: 0 0;*/ top: -15px; left: -22px; /*cover the default input */ width: 20px; height: 20px; border-radius: 3px; border: 1px solid #f4f5f6; transform: rotate(0); pointer-events: none; text-align: center; color: #FFF; /* easier to see */}
.dematinputchk{background: transparent url('../../../images/check-img.png') center center no-repeat; border: 1px solid #01b792;}

/** * The tick */
.prodctinput2-container input[type=checkbox]:checked + label:after{background: transparent url('../../../images/check-img.png') center center no-repeat; border: 1px solid #01b792;}
#ndmaholder{display: none;}
.demat-limit{background-color: #fdf0f3; padding: 20px; border-radius: 5px;}
.demat-limit .txt-red{color: #e22c57; font-size: 13px; font-weight: 700;}
.demat-limit ul{font-size: 14px; color: #666666; list-style: none; padding: 0; margin: 23px 0 0;}
.demat-limit ul li{padding-left: 0.7em; text-indent: -.7em;}
.demat-limit ul li::before{content: "•"; color: #e22c57; padding-right: 10px; font-size: 20px;}
#ndmaholder,.add_nondemat_sec{display: none;}
.add_nondemat.full{margin-top: 35px;}
#existac{color: #999999; font-size: 16px;}
#existac ul{font-size: 16px; color: #999999; list-style: none; padding: 0; margin: 14px 0 0;}
#existac ul li{padding-left: 0.7em; text-indent: -1.1em;}
#existac ul li::before{content: "•"; color: #01b792; padding-right: 10px; font-size: 20px;}
.segmentchk input[type=checkbox]{visibility: hidden;}

/* SQUARED THREE */
.segmentchk{width: 22px; margin: 0 auto; position: relative; display: block; float: left;}
.segmentchk label{cursor: pointer; position: absolute; width: 22px; height: 22px; top: 1px; left: -10px; border-radius: 4px; border: 1px solid #999999;}
.segmentchk label:after{-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)"; filter: alpha(opacity=1); opacity: 1; content: ''; position: absolute; width: 13px; height: 6px; background: transparent; top: 6px; left: 4px; border: 2px solid #999999; border-top: none; border-right: none; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg);}
.segmentchk input[type=checkbox]:checked + label{background: -webkit-linear-gradient(top, #01b792 0%, #01b792 100%); background: -moz-linear-gradient(top, #01b792 0%, #01b792 100%); background: -o-linear-gradient(top, #01b792 0%, #01b792 100%); background: -ms-linear-gradient(top, #01b792 0%, #01b792 100%); background: linear-gradient(top, #01b792 0%, #01b792 100%); filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#01b792', endColorstr='#01b792', GradientType=0); border: 0;}

/*.squaredThree label:hover::after{-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; filter: alpha(opacity=30); opacity: 0.3;}*/
.segmentchk input[type=checkbox]:checked + label:after{-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); opacity: 1; content: ''; position: absolute; width: 13px; height: 6px; background: transparent; top: 6px; left: 4px; border: 2px solid #fff; border-top: none; border-right: none; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg);}
.segment-div{background: #fffbfb; padding: 19px; border: 1px solid #ededed; border-radius: 5px; margin-bottom: 25px;}
.segment-div .form-group{margin-bottom: 0;}
.checkbox{margin: 0; float: right; margin-top: 2px;}
.segment-head{float: left; font-family: 'Conv_RobotoCondensed-Regular'; font-size: 16px; color: #333333;}
.segment-head img{vertical-align: middle;}
.segment-head span{vertical-align: middle; display: inline-block; padding-left: 15px; padding-top: 3px; text-transform: uppercase; font-weight: 600;}
.segment-txt{margin-bottom: 0; background: none; border: 0; box-shadow: none; padding: 0; padding-top: 28px; padding-left:0px;}
.segment-txt .seg-chk{list-style: none;margin: 0;padding: 0;}
.segment-txt .seg-chk li{display: inline-block; float: left;padding-right: 47px;text-transform: uppercase;font-family: 'Conv_SourceSansPro-Regular';font-size: 16px; font-weight: 600;color: #333333;}
.segment-txt .seg-chk li:first-child{padding-left: 10px;}
.segment-select{margin-top: 30px;}
.select-segment-sec{width:100%; float: left;}
.select-segment-txt{text-align: left; display: block; width: 100%; height: 46px; padding: 6px 12px; font-size: 16px; line-height: 1.42857143; color: #333333; box-shadow: none; background: #fff; border-radius: 3px; border: 1px solid #dadada; background: url('../../../images/icons/select-arrow.png') no-repeat scroll 98% 50%; padding-right: 30px; overflow: hidden;}
.select-segment-sec .dropdown-menu{top:42px; right:0; width: 100%; padding:0; border-top-left-radius: 0; border-top-right-radius: 0; z-index: 1;}
.select-segment-sec .dropdown-menu li{padding: 15px 20px; font-size: 16px; border-bottom: 1px solid #dadada;}
.select-segment-sec .dropdown-menu li:last-child{border-bottom: none;}
.select-segment-sec .dropdown-menu li a{color: #999999; padding: 0;}
.select-segment-sec .dropdown-menu li a:hover{color: #999999 !important;}
.select-segment-sec .dropdown-menu li label{color: #666666;}
.select-segment-sec .dropdown-menu>li>a{white-space: normal;}

#product_chk-error{    margin-top: 30px;}

/*#product_chk-error:after{content:none;}*/


/*Nominee*/
.add-an-nominee-rw{border: 1px solid #00cc99; padding: 20px; border-radius: 10px;margin-top: 30px;}
.add-det .add-nom{padding-left: 25px; display: table-cell; vertical-align: middle; font-family: 'Conv_RobotoCondensed-Regular'; font-size: 22px; color: #3399ff;}
.add-det .add-in-nom{padding-left: 0; font-family: 'Conv_SourceSansPro-Regular'; font-size: 16px; color: #00cc99;}
.add-det #nominee-count{padding-left: 0; display: inline-block; vertical-align: baseline;}
.add-det .add-in-nom-name{padding-left: 0;font-family: 'Conv_SourceSansPro-Regular'; font-size: 20px; color: #00cc99;}
.add-det .add-in-demat-name{padding-left: 0;font-family: 'Conv_SourceSansPro-Regular'; font-size: 20px; color: #e5b77e;}

.add-an-nominee-rw.plan-nominee-rw .add-det{width:100%;}
.add-an-nominee-rw.plan-nominee-rw .add-det .add-in-demat-name{display: block;}
.adhaar-sec .add-an-nominee-rw.plan-nominee-rw .blue-btn{margin-top: 0; float: right;}
.adhaar-sec .add-an-nominee-rw.plan-nominee-rw .blue-btn{background: #00cc99; border-color:#00cc99;}
.adhaar-sec .add-an-nominee-rw.plan-nominee-rw .blue-btn:hover{background: #fff; color:#00cc99;}
.adhaar-sec .add-an-nominee-rw.plan-nominee-rw.demat-ac-rw .blue-btn{background: #ffcc66; border-color: #ffcc66;}
.adhaar-sec .add-an-nominee-rw.plan-nominee-rw.demat-ac-rw .blue-btn:hover{background: #fff; color: #ffcc66;}
.adhaar-sec .add-an-nominee-rw.plan-nominee-rw.demat-ac-rw{border-color: #ffcc66;}



.dis-img{vertical-align: middle;margin-bottom: 3px;margin-left: 10px;}

.bank-title.form-title{font-size: 35px; font-family: 'Conv_RobotoCondensed-Light'; color:#000000; margin: 0; padding-bottom: 30px;text-transform: none;}

.bank-account-sec.remove-line{border:0;}

.add-det .summary-nom{padding-left: 25px; display: table-cell; vertical-align: middle; font-family: 'Conv_RobotoCondensed-Regular'; font-size: 14px; color: #99b5ce;}


/*********
Ekyc Process Completion Page css
**********/
.ekyc-process-comp-sec{padding-right: 100px; border-bottom: 1px dashed #dadada; padding-bottom: 45px;}
.ekyc-process-comp-sec.ekyc-process-padd{padding-right: 0;}
.ekyc-process-comp-sec:last-child{padding-bottom: 0;}
.ekyc-process-comp-sec p{color: #666666; font-size: 18px; margin:30px 0 0;}
.ekyc-process-comp-sec p span{font-weight: bold;}
.email-id{display: block; font-weight: bold; color: #666666;}
.email-id:hover{color: #3399ff;}
.ekyc-process-comp-sec:last-child{border-bottom: none;}
.ekyc-process-comp-sec .form-title{padding-top: 40px;}
.ekyc-add-title{font-size: 16px; color:#333333; font-family: 'Conv_SourceSansPro-Regular';}
.ekyc-address-sec span{font-size: 16px; color: #999999; display: block; padding-top: 6px;}
.contact-list{list-style: none; padding: 40px 0 0; margin: 0; width: 100%; float: left;}
.contact-list li{display: inline-block; padding-left: 25px;}
.contact-list li a{font-size: 18px; color: #333333; padding-right: 35px;}
.contact-list li.phone-lst-sec{background: url('../../../images/phone-icon.png') no-repeat; background-position: left 5px;}
.contact-list li.email-lst-sec{background: url('../../../images/msg-icon.png') no-repeat; background-position: left 8px;}
.contact-list li.email-lst-sec a{color:#3399ff;}
.send-document-sec{display: block; position: relative; z-index: 9; max-width: 100%;}
.send-document-col{width: 25%; float: left;}
.send-document-inner{text-align: center; padding: 0 9px; position: relative;}
.send-document-inner:after{content: ''; position: absolute; background:  url('../../../images/ekyc-completion/left-arrow.png') no-repeat; width:5px; height:9px; right: 0; top: 21px;}
.send-document-col:last-child .send-document-inner:after{content:''; background: none;}
.ekyc-address-sec{float: left; width: 100%; padding-top: 50px;}
.send-doc-title{font-size: 12px; color: #666666; display: block; padding-top: 14px;}
.ekyc-timeline-rw{width: 533px; height: 1px; background-color:#dadada; position: absolute; top: 25px; left: 53px; z-index: -1;}
.refl-code-sec{background: #e0ebf5; border:1px solid #bad9f7; border-radius: 5px;}
.refl-code-box{padding: 12px 22px;}
.refl-code-sec-outer{padding: 15px 40px 0;}
.refl-title{color: #99b5ce; font-size: 16px; margin-bottom: 20px; float: left; width: 100%;}
.refl-code-box-inner{width: 100%; float: left; padding-bottom: 20px;}
.refl-code-txt{border:2px dashed #3b5998;  border-radius: 5px; padding: 16px 22px; display: inline-block; font-size: 28px; color: #000000;}
.refl-code-box p{font-size: 16px; float: left; width: 100%; color: #666666;}
.social-list{width: 100%; float: left; margin: 0; list-style: none; padding: 0;}
.social-list li{padding: 12px 22px; font-size: 16px; border-top: 1px solid #bad9f7;}
.social-list li img{margin-right: 12px;}
.g-lst a{color:#f15e4e;}
.fb-lst a{color:#3b5998;}
.req-before-sec .hi-box:before{display: none;}
.ekyc-process-hi-bx .hi-box-inner{padding-bottom: 50px;}
.main .hi-box.ekyc-process-hi-bx{padding-top: 145px;}
.paperless-tooltip-para{display: none;}
.ekyc-process-paperless-sec .send-document-col{width:33.33%;}
.ekyc-process-paperless-sec .ekyc-timeline-rw{width: 440px; left:96px;}
.pay-btn-rw .blue-btn{margin-right: 10px;}

.mobi-refl-code-sec{display: none;}
.display-tab{display:block !important;}
/*.bank-account-sec.mobi-add-bank-sec .bank-account-inner-sec{display: block;}*/

/*upload*/

.progress 
{
  display:none; 
  position:relative; 
  width:400px; 
  border: 1px solid #ddd; 
  padding: 1px; 
  border-radius: 3px; 
}
.bar 
{ 
  background-color: #B4F5B4; 
  width:0%; 
  height:20px; 
  border-radius: 3px; 
}
.percent 
{ 
  position:absolute; 
  display:inline-block; 
  top:3px; 
  left:48%; 
}


/*Popup Plan */
.req-list .text-frm{text-transform: uppercase;text-decoration: none;}
.tradeplan{padding: 0 16px; list-style: none;}
.tradeplan:before {
  content: "\2022"; 
  /* Unicode of character to precede the list item */
  font-size: 1em; 
  /* em or %*/ 
  padding-right: 1.1225em; 
  /* use em*/
  position: relative;
  top: 0em; 
    color: #3193f6; /* or whatever color you prefer */
   
}

.modal-dialog.custom-modal {
    width: 100%;
    margin: 30px auto;
    padding: 0 80px;
}

.custom-modal .modal-content{
	background: -moz-linear-gradient(top, rgba(59,161,246,0.99) 0%, rgba(59,161,246,0.99) 1%, rgba(81,182,224,1) 55%, rgba(95,197,211,1) 83%, rgba(95,197,211,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(59,161,246,0.99) 0%,rgba(59,161,246,0.99) 1%,rgba(81,182,224,1) 55%,rgba(95,197,211,1) 83%,rgba(95,197,211,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(59,161,246,0.99) 0%,rgba(59,161,246,0.99) 1%,rgba(81,182,224,1) 55%,rgba(95,197,211,1) 83%,rgba(95,197,211,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc3ba1f6', endColorstr='#5fc5d3',GradientType=0 ); /* IE6-9 */
}

.modal-content .modal-header{
	/*padding: 60px 70px 35px;*/
	border:0;
}

.modal-header span.cross-sign{font-size: 22px; display: inline-block; vertical-align: middle; padding-right: 5px;}
.modal-header .close,.modal-header span{font-size: 15px; display: inline-block; vertical-align: middle; margin-top: 1px; color: #3399ff;}
.req-list a{text-decoration: none !important; color:#999999; cursor: pointer;}

.content {
    padding: 0 50px 35px;
}

.content .row{
	padding: 0 50px;
}
/***
Pricing table
***/
.pricing {
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  min-height: 744px;
}

.pricing-active {
  border-radius: 5px;
  margin-top: -10px;
  box-shadow: 7px 7px rgba(54, 215, 172, 0.2);
  min-height: 754px;
}

.pricing:hover {
 /* border: 3px solid #36d7ac;*/
}

/*.pricing:hover h4 {
  color: #36d7ac;
}
*/
.pricing-head {
  text-align: center;
  

}

.btm-border{border-bottom: dashed 1px #e0e5e4;width:80%;margin: 30px auto;}

.pricing-head h3,
.pricing-head h4 {
  margin: 0;
  line-height: normal;
}

.pricing-head h3 span{
  display: block;
  margin-top: 5px;
  font-size: 14px;
  text-transform: uppercase;
}


.pricing-head h3 {
  font-weight: 300;
  padding-top: 60px;
  font-size: 30px;
  font-family: 'Conv_RobotoCondensed-Regular';
 
}
.percent{font-size: 18px;}
.plan-txt-color-1{color: #33cb98;}
.plan-txt-color-2{color: #3dacff;}
.plan-txt-color-3{color: #f1b668;}

.circle-border-1{border: 1px dashed #33cb98;}
.circle-border-2{border: 1px dashed #3dacff;}
.circle-border-3{border: 1px dashed #f1b668;}

.pricing-head h4 {
  padding: 5px 0;
  font-size: 54px;
  font-weight: 300;
 /* background: #fbfef2;*/
 
}

.pricing-head-active h4 {
  color: #36d7ac;
}

.pricing-head h4 .numbers{
  top: -8px;
  font-size: 26px;
  font-style: normal;
  position: relative;
   font-family: 'Conv_RobotoCondensed-Regular';
   display: inline-block;
    height: 100px;
    width: 100px;
    line-height: 100px;
    -moz-border-radius: 30px;
    border-radius: 50%;
        margin: 30px auto;
}

.pricing-head h4 span {
	 display: block;
	 text-transform: uppercase;
  top: -10px;
  font-size: 17px;
  font-style: normal;
  position: relative;
   font-family: 'Conv_RobotoCondensed-Regular';
    
}
.pricing-head h4 .icon-txt{display: inline-block;vertical-align: middle;padding-top: 15px;}

/*Pricing Content*/
.pricing-content{margin: 0;padding: 0;list-style: none;}

.pricing-content li {
  color: #999999;
  font-size: 16px;
  padding: 7px 30px;
  font-family: 'Conv_SourceSansPro-Regular';
	 padding-left:40px;
	background-repeat:no-repeat;
	background-position:12px 18px;
  /*border-bottom: solid 1px #f5f9e7;*/
}

.pricing-content .back-img-1 {
background-image:url(../../../images/plan-list-1.png);
}
.pricing-content .back-img-2 {
background-image:url(../../../images/plan-list-2.png);
}
.pricing-content .back-img-3 {
background-image:url(../../../images/plan-list-3.png);
}
/*Pricing Footer*/
.pricing-footer {
  color: #777;
  font-size: 11px;
  line-height: 17px;
  text-align: center;
  padding: 0 20px 19px;
}

.numbers .isize{font-size:17px;    line-height: 21px;
    height: auto;
    margin-top: 37px;
    position: absolute;
    left: 25px; }

    .numbers .isize2{font-size:17px;    line-height: 21px;
    height: auto;
    margin-top: 37px;
    position: absolute;
    left: 15px; }
/*Priceing Active*/
.price-active,
.pricing:hover {
  z-index: 9;
}

.price-active h4 {
  color: #36d7ac;
}

/*.no-space-pricing .pricing:hover {
  transition: box-shadow 0.2s ease-in-out;
}

.no-space-pricing .price-active .pricing-head h4,
.no-space-pricing .pricing:hover .pricing-head h4 {
  color: #36d7ac;
  padding: 15px 0;
  font-size: 80px;
  transition: color 0.5s ease-in-out;
}*/

.yellow-crusta.btn {
  color: #FFFFFF;
  background-color: #f3c200;
}
.yellow-crusta.btn:hover,
.yellow-crusta.btn:focus,
.yellow-crusta.btn:active,
.yellow-crusta.btn.active {
    color: #FFFFFF;
    background-color: #cfa500;
}


/*Error Page*/
.error{text-align: center;}
.error .text-size{font-size: 25px;}
.error p{color: #999999;padding-bottom: 20px;margin-top: -5px;}


.active_box{border:1px solid #01b792 !important;}
.inactive_box{border:1px solid #f4f5f6 !important;}


/*Enquiry Section*/
.hear-rw{padding-top: 20px;}
.hear-rw .frm-subtitle{padding-bottom: 10px;}
.hear-rw .form-control{width:50%;}


.in.backdrop{position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 5555; background-color: #000; opacity: 0.5;}
.overlay-logout{z-index: 55555;}
