@media (max-width: 1199px) {
/*Password Page css*/
.navbar-inverse.main-navbar .nav > li{font-size: 16px;}
.navbar-inverse.main-navbar .nav > li .btn{padding: 10px 26px; font-size: 15px;}
.go-paperless-sec h4{font-size: 20px;}
.addhar-img-sec{width: 60px;}
.addhar-img-sec img{width: 100%;}
.form-title{font-size: 30px; padding-bottom: 20px;}
.req-doc-box-inner ul{padding: 10px 0 0;}
.blue-btn{font-size: 16px;}
.hi-box-inner h4{padding-bottom: 20px;}


/*payemt successful page*/
.pay-successful-para{font-size: 32px; padding:30px 0 20px 0;}
.tra-msg{font-size: 18px;}


/*password reset page*/
.rest-pass-sec  .form-col-inner{padding: 60px 80px;}
.change-pass-rw .blue-btn{padding: 12px 30px;}

/*email sent page*/
.email-para{font-size: 24px;}
.mail-msg{font-size: 16px;}

/*Aadhar Details Page*/
.wizard .tab-pane{padding: 50px 25px;}
.hi-box-inner.tooltip-bx-inner img{width:45px;}
.hi-box-inner.tooltip-bx-inner .cheque-rw  img{width:100%;}
.main .hi-box{padding:60px 20px 20px 20px; }
.hi-box-inner p{padding-bottom:20px;}

/*Personal Details Page*/
.identity-tab li .text-capital span{font-size: 11px;}

/*Select Plan Page*/
.segment-txt .seg-chk li:first-child{padding-left: 0;}
.segment-txt .seg-chk li{padding-bottom: 10px;}
.segment-txt .seg-chk{padding-left: 10px;}
.segment-select{margin-top: 10px;}

/*plan summary page*/
.plan-para{font-size: 16px;}
.plan-title{font-size: 22px;}
.plan-price{font-size: 26px;}


/*Payment Details Page*/
.total-label, .total-price{font-size: 18px;}

/*ekyc process completion page*/
.ekyc-process-paperless-sec .ekyc-timeline-rw{width:380px;}
.ekyc-process-comp-sec .form-title{padding-top: 25px;}
.refl-code-sec-outer{padding: 15px 15px 0;}
.ekyc-process-comp-sec p{font-size: 16px; margin: 20px 0 0;}
.social-list li img{width:28px;}

/*ekyc process paper completion page*/
.ekyc-process-paper-sec .ekyc-timeline-rw{width:450px;}

/*password successful page*/
.main-tb-sec.pass-successful-sec .form-col-inner{padding:60px 50px;}
.main-tb-sec.pass-successful-sec  .document-col-inner{padding: 70px 25px 0 25px;}
.main-tb-sec.pass-successful-sec  .document-col-inner .hi-box{padding: 20px 30px;}
}


@media (max-width: 1024px) {
/*Password Page css*/
.navbar-header{float: left;}
.addhar-img-sec{width: 50px;}
.go-paperless-sec{padding-left: 60px;}
.go-paperless-sec h4{font-size: 20px; margin-top: 5px;}
.form-title{font-size: 26px; padding-bottom: 15px;}
.form-para-sec{padding-bottom: 30px;}
.form-col-inner{padding: 36px;}
.document-col-inner{padding: 36px 25px 0 25px;}

/*payemt successful page*/
.pay-successful-para{font-size: 28px;}
.main{padding: 35px 0;}

/*plan summary page*/
.edit-title-rw .bank-title.form-title{font-size: 30px; padding-bottom: 12px;}

/*payment details page*/
.cp-box{padding: 15px 24px;}
.pay-sum-rw{padding-bottom: 25px;}
.pay-label, .pay-amt{font-size: 16px;}
.later-btn{font-size: 16px;}
}

@media (max-width: 998px) {
.navbar-inverse.main-navbar .navbar-toggle{display:none;}
}


@media (max-width: 991px) {
/*reset password page*/
.change-pass-rw .blue-btn{padding: 12px 0;}

/*Password Page css*/
.navbar-inverse.main-navbar .nav > li{font-size: 14px;}
.document-col-inner, .form-col-inner{min-height: 760px;}
.form-col{width:60%;}
.document-col{width: 40%;}
.form-rw{width:100%;}
.req-list{padding-bottom: 90px;}
.req-list li span, .req-doc-box-inner ul li span{padding-left: 10px; font-size: 14px;}
.hi-box-inner p{font-size:15px;}
.hi-box-inner h4{padding-bottom: 10px;}
.go-paperless-sec h4{font-size: 18px; margin-top: 2px;}
.hi-box-inner:after{bottom: -20px; box-shadow: -18px 0 0 0 #fff; border: 40px solid transparent; left: 35px;}

/*payemt successful page*/
.ahead-sec{padding: 30px 0 0;}
.main-navbar .navbar-brand img{width:240px;}
.navbar-inverse.main-navbar .navbar-brand{padding:18px 0;}

/*reset password page*/
.rest-pass-sec  .form-col-inner{padding: 60px;}

/*login page css*/
.form-title{font-size: 24px; padding-bottom: 12px;}
.form-para{font-size: 16px;}
.rem-sec, .frg-pass{font-size: 15px;}
.req-list li, .req-doc-box-inner ul li{font-size: 14px;}
.req-list li span, .req-doc-box-inner ul li span{padding-left: 10px;}

/*sign up page*/
.sign-up-section{padding: 0;}
.bank-rw .frm-col{width:100%;}
.full.form-rw{padding-bottom: 25px;}

/*aadhar details page*/
.wizard .nav-tabs > li{font-size: 12px; min-height: 105px;}
.id-sec{font-size: 16px;}

/*personal details page*/
.view-pdf-rw p{font-size: 14px;}
.bank-title{font-size: 18px;}
.bank-icon img{width:30px;}
.edit-title-rw .edit-btn, .edit-title-rw .save-btn{margin-top: 24px; font-size: 13px;}


/*Additional Details Page*/
.half-rw{width:100%;}

/*plan page*/
.plan-sec .half{padding: 35px 15px 0; width: 100%;}
.plan-sec .holder{width:100%;}

/*plan summary page*/
.plan-col{width: 50%;}
.add-an-nominee-rw.plan-nominee-rw img{width:60px;}
.edit-title-rw .bank-title.form-title{font-size: 28px; padding-bottom: 12px;}

/*Payment Details Page*/
.cp-box{width:100%; padding: 14px 20px; margin-top: 10px;}

/*ekyc process completion page*/
.ekyc-process-paper-sec .ekyc-timeline-rw, .ekyc-process-paperless-sec .ekyc-timeline-rw{width:72%; left:0; margin: 0 14%;}
.social-list li{padding: 12px 15px;}
.refl-code-txt{font-size: 24px;}


/*pricing modal*/
.modal-dialog.custom-modal{width:100%; padding: 0 10px;}
.pricing{min-height: auto; margin-bottom: 20px;}
.col-md-4:last-child .pricing{margin-bottom: 0;}
.modal-dialog.custom-modal .col-md-2, .modal-dialog.custom-modal .col-md-4{width:100%; float: left;}
.pricing-head h4 .numbers{line-height: 95px;}


/*password successful page*/
.main-tb-sec.pass-successful-sec  .document-col-inner{padding: 40px 25px 0 25px;}
}

@media (max-width:768px){

}


@media (max-width: 767px) {
.main .form-col, .main .document-col{display: block;}
.navbar-inverse.main-navbar .nav > li a, .navbar-inverse.main-navbar .nav > li button {color: #3399ff;}
.navbar-inverse.main-navbar .navbar-toggle{border:none;}
.navbar-inverse.main-navbar .nav > li .btn.login-btn{display:none;}
.main-navbar.navbar-inverse .navbar-collapse{ float: left; height: 100%; background: #fff; z-index: 10; left: -100%; transition: 0.5s;  -webkit-transition: 0.5s; border-color: #fff; position: fixed; width:0; display: block; top:0; text-align: center;}
.main-navbar.navbar-inverse .navbar-collapse.in{width: 100%; left:0;}
.navbar-inverse.main-navbar .navbar-collapse .nav{margin: 40px 0 0;}
.sign-mobi-btn, .mobi-close-btn{display:block;}
.navbar-header{width:100%; float:left; padding: 0 15px;}
.navbar-inverse.main-navbar .navbar-brand{padding: 12px 0;}
.navbar-inverse.main-navbar .navbar-toggle{margin-right: 0; border: none;}
.form-title{font-size: 22px;}
.req-doc-box-inner h4{font-size: 18px;}
.main-inner-sec{padding: 30px 0 30px;}
.sign-inner-sec.main-inner-sec{padding: 30px 0 100px;}
.navbar-inverse.main-navbar{background-color:#fff; margin: 0 -15px; padding: 6px 0; webkit-box-shadow: 0 8px 6px -6px #efefef; -moz-box-shadow: 0 8px 6px -6px #efefef; box-shadow: 0 3px 9px 3px #efefef; position: static;}
.dekstop-logo{display:none;}
.mobi-logo{display: block;}
.main-navbar .navbar-toggle{padding: 6px 10px;}
body{background: #fff;}
.form-col-inner{padding: 0;}
.form-col{width:100%;}
.hear-rw .form-control{width:100%;}
.document-col{width:100%;}
.hi-box, .hi-box-inner, .req-img-sec, .hi-box:before, .circle-bx, .req-doc-box-inner:after, .login-para-sec{display: none;}
.hi-box.tooltip-bx, .hi-box-inner.tooltip-bx-inner, .hi-box.on-req-bx-main, .hi-box-inner.on-req-bx{display:block;}
.hi-box.tooltip-bx, .hi-box.on-req-bx-main{padding: 0 40px;}
.hi-box-inner.tooltip-bx-inner, .hi-box-inner.on-req-bx{-webkit-filter: none; filter: none; margin-top: -2px;}
.hi-box-inner.tooltip-bx-inner:after, .on-req-bx.hi-box-inner:after{display: none;}
.req-doc-box-inner{box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; -o-box-shadow: none; padding: 20px 20px 115px;}
.document-col-inner{padding: 0;  background: #000; border-top-right-radius: 0; border-bottom-right-radius: 0; position: fixed; left: 0; bottom: 0; overflow-y:scroll; width: 100%; height: 100%;  display: none; z-index: 10;}
.mobi-document-col-inner{width: 100%; padding: 20px; float: left; background: #000; position: absolute; bottom: 0; height:100%;}
.req-doc-sec{position: static;}
.go-paperless-sec{padding: 0 40px; margin-bottom: 15px;}
.addhar-img-sec {width: 80px; padding-right: 15px; position: static; float: left;}
.go-paperless-sec p{padding-left: 80px;}
.go-paperless-sec-inner{padding: 20px; border-radius: 20px; background: #fff;}
.mobi-join{display: block; position: absolute; bottom: -15px; left: 75px; width: 20px;}
.document-col-inner, .form-col-inner{min-height: auto;}
.mobi-hi-sec{display: block; position: fixed; left: 0; bottom: 0; z-index: 10; width: 100%;}
.profile-img{left:50px;}
.mobi-hi-sec-inner.bt-mobi-inner .profile-img{left:15px;}
.mobi-hi-sec-inner{padding: 20px 15px 20px; display: table; -webkit-box-shadow: 0px 0px 20px rgb(208, 197, 197); -moz-box-shadow: 0px 0px 20px rgb(208, 197, 197); box-shadow: 0px 0px 20px rgb(208, 197, 197);}
.main{padding: 0 0 35px;}

/*payment successful page*/
.navbar-brand img.dekstop-logo{display: none;}
.navbar-brand img.mobi-logo{display: block;}
.main-navbar .navbar-brand img{width:auto;}
.main-navbar .navbar-header{width:auto;}
.navbar-inverse.main-navbar.inner-navbar .navbar-brand{padding: 14px 0;}
.navbar-inverse.main-navbar.inner-navbar .navbar-right{float: right; margin: 7px 0 0;}
.navbar-inverse.main-navbar.inner-navbar .navbar-right .account-href img.inner-user-icon{display: none;}
.navbar-inverse.main-navbar.inner-navbar .navbar-right .account-href img.mobi-user-icon{display: inline-block; padding-right: 6px;}
.hi-txt{color:#333333;}
.account-href .glyphicon-menu-down{color:#c1c1c1;}
.main-navbar.inner-navbar.navbar-nav .open .dropdown-menu{}
.inner-navbar.navbar-inverse.main-navbar .nav > li{position: relative;}
.navbar-nav>li>.dropdown-menu.login-drop{position: absolute; top:50px; left:-10px; background: #fff; margin: 0; width:180px;}
.inner-navbar.navbar-inverse.main-navbar .navbar-nav>.open>a, .inner-navbar.navbar-inverse.main-navbar .navbar-nav>.open>a:focus, .inner-navbar.navbar-inverse.main-navbar .navbar-nav>.open>a:hover{background: #fff; margin: 0;}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{color: #333333; padding: 15px 25px;}
.main-li.open .glyphicon-menu-down:before{content: "\e260";}
.user-name{padding: 0;}
.main-inner{display:block; padding: 0 0 100px; margin-top: 10px;}


/*Reset Password Page*/
.rest-pass-sec  .form-col-inner{padding: 40px 30px 0;}


/*email sent page*/
.emil-send-sec .user-name{padding: 20px 0; font-size: 18px;}

/*login page*/
.forget-rw{padding-bottom: 110px;}
.forget-sec .go-paperless-sec{padding-bottom: 0;}
.mobi-hi-sec-inner.mobi-open .profile-img-sec{padding-left: 70px;}
.mobi-hi-sec-inner.mobi-open .profile-img{left:60px;}
.req-list li, .req-doc-box-inner ul li{font-size: 18px;}
.req-doc-box-inner{margin-top: -2px;}

/*Aadhar Details Page*/
.wizard .tab-pane{padding: 40px 0;}
.wizard > div.wizard-inner{margin: 0 -15px; background: #ffffff;}
.wizard, .main .form-col-tab-inner, .form-col{background: transparent; border-radius: 0;}
.text-capital{margin-top: 15px;}
.wizard .nav-tabs > li{min-height: auto;}


/*Personal Details Page*/
.form-rw label{padding-bottom: 10px;}
.edit-title-rw{position: relative; padding: 15px 0;}
.edit-title-rw .edit-btn, .edit-title-rw .save-btn{position: absolute; margin-top: 0; right: 0; top: 55px;}
.edit-title-rw .bank-title{padding: 0 0 0; margin: 0;}
.mobi-add{font-size: 20px; float: right; cursor: pointer; display: block;}
.bank-account-inner-sec{display: none;}
.hw-hear-about-sec.bank-account-inner-sec{display: block;}
.adhaar-sec .bank-account-sec:nth-child(2){border-top: none;}
.bank-account-sec.mobi-add-bank-sec .edit-btn{display: block;}
.bank-account-sec .edit-btn, .bank-account-sec .save-btn{display: none;}

/*additional Details Page*/
.half{width: 100%; padding: 0 0 15px;}
.half .change-arrow{background: url('../../../images/icons/select-arrow.png') no-repeat scroll 98% 50%;}
.half-rw{margin: 0;}

.add-remove{margin-top: 1px;} 
.add-remove, .add-det{font-size: 16px;}
.add-det img, .add-remove img{width:20px;}
.add-an-nominee-rw .add-det img{width:60px;}

.ekyc-modal.modal .modal-dialog{width:90%;}

/*select plan page*/
.plan-sec .half{width:50%;}
.holder .mask, .dmaholder .mask{bottom: -25px; width: 25%; left: 38%;}

/*plan summary page*/
.plan-col{width: 33.33%;}

/*plan summary page*/
.edit-title-rw .bank-title.form-title{font-size: 26px; padding-bottom: 12px;}
.plan-summ-sec .edit-title-rw .edit-btn{position: static; margin-top: 5px; font-size: 16px; display: block;}

/*Payment Details Page*/
.cp-label{padding-top: 0;}

/*ekyc process comp*/
.mobi-refl-code-sec{display: block;}
.ekyc-process-comp-sec .mobi-refl-code-sec p{margin: 15px 0;}
.mobi-refl-code-sec .refl-code-sec{margin-top: 25px;}
.document-col-inner .refl-code-sec-outer{display: none;}
.refl-code-box-inner{padding-bottom: 0;}


/*pan ipv page*/
.cam-wrapper{background-size: 100% 100%; background-image: url('../../../images/camera_bg.png'); background-repeat: no-repeat;}

/*mobile tab css*/
.bank-account-sec.mobi-add-bank-sec .edit-title-rw .edit-btn{z-index: 1;}
/*.bank-account-sec .edit-title-rw .edit-btn{display: none !important;}*/
.bank-account-sec.mobi-add-bank-sec .edit-title-rw .save-btn{z-index: 1;}

/*pricing modal*/
.btm-border{width: 90%; margin: 20px auto;}
.pricing-content{padding:0 20px;}
.pricing-head h3{padding-top: 30px; font-size: 26px;}


/*password successful page*/
.main-tb-sec.pass-successful-sec .form-col-inner{padding: 30px 20px 80px;}
.pass-para{font-size: 15px; padding: 20px 0;}
}

@media (max-width: 695px) {
.mobi-hi-sec-inner{padding: 25px 15px 15px;}
.mobi-hi-sec-inner.bt-mobi-inner .profile-img{left:18px; top: 20px;}
.req-doc-box, .go-paperless-sec{padding: 0;}
.profile-img{left:20px;}
.profile-img-sec{padding-left: 40px;}
.mobi-join{left:25px;}
/*.mobi-hi-sec-inner.bt-mobi-inner .profile-img{left:60px;}*/
.mobi-hi-sec-inner.bt-mobi-inner .profile-img-sec{padding-left: 60px;}
.main-navbar.inner-navbar .navbar-right{float: right; width:auto;}
.pay-successful-para{padding: 30px 0 20px 0;}
.tra-id{font-family: 'Conv_RobotoCondensed-Regular';}
.tra-msg{padding: 30px 0; border-top: 1px dashed #ededed;}

.identity-tab li.success-tab .text-capital span.mobi-circle-no, .identity-tab .success-tab .tab-text, .identity-tab .success-tab .text-capital img{display: none;}
.identity-tab li .text-capital span.mobi-circle-no, .identity-tab .success-tab .text-capital img.mobi-success-icon{display: inline-block;}
.identity-tab li.active .text-capital span.mobi-circle-no, .identity-tab .active .tab-text{color: #3399ff; border-color:#3399ff; }
.identity-tab .disabled .tab-text{display: none;}
.wizard .nav-tabs > li a{padding: 10px 0 0; margin-top: 0; margin-right: 0; border-radius: 0;}
.text-capital {margin-top: 0;}
.adhaar-sec .white-btn, .adhaar-sec .blue-btn{width: 100%;}
.adhaar-sec .white-btn{font-size: 16px;}
.adhaar-sec .webcamicon.blue-btn{width:auto;}
.adhaar-sec .btn-margin{margin-left: 0;}



/*Reset Password Page*/
.change-pass-rw .rest-btn-rw, .change-pass-rw .form-rw{width:100%;}
.rest-pass-sec .form-col-inner img{width:140px;}
.rest-pass-sec  .form-title{font-size: 20px;}
.change-pass-rw .rest-btn-rw{margin-top: 0;}
.account-href .glyphicon-menu-down{margin-left: 6px;}
.sign-inner-sec .blue-btn{width:100%;}

/*email sent page*/
.email-send-sec-inner{width:100%;}
.emil-send-sec{padding: 50px 20px 20px;}

/*login page*/
.mobi-hi-sec-inner.mobi-open{padding: 30px 0 20px;}
.mobi-hi-sec-inner.mobi-open .profile-img{left:12px; top:26px;}
.mobi-hi-sec-inner.mobi-open:after{left:21px;}
.hi-box.tooltip-bx, .hi-box.on-req-bx-main{padding: 0;}

/*aadhar details page*/
.wizard .nav-tabs > li img{display: none;}
.wizard .nav-tabs > li{border: none;}
.wizard > div.wizard-inner{webkit-box-shadow: 0 8px 6px -6px #efefef; -moz-box-shadow: 0 8px 6px -6px #efefef; box-shadow: 0 3px 9px 3px #efefef;}
.wizard > div.wizard-inner{padding-bottom: 15px;}


/*personal details page*/
.bank-title{font-size: 16px;}
.bank-icon img{width:25px;}
.form-title{font-size: 20px;}
.mobi-add{font-size: 15px;}
.identity-tab li .text-capital span{font-size: 11px;}
.radio-list li label{font-size: 16px;}

/*additional details page*/
.add-det img, .add-remove img{width:16px; margin-top: 0;}
.dmaholder{width:100%;}

/*plan summary page*/
.edit-title-rw .bank-title.form-title{font-size: 22px;}


/*payment details page*/
.pay-sum-sec:first-child{padding-top: 20px;}

/*pricing modal*/
.content{padding: 0 20px 35px;}
.content .row{padding: 0 20px;}
.pricing-head h4 .numbers{line-height: 85px; margin: 20px auto;}

/*error page*/
.emil-send-sec .blue-btn{width:100%;}
}

@media (max-width: 596px) {
/*nominee details page*/
.add-an-nominee-rw{border-radius:0;}
.add-an-nominee-rw .add-det img {width: 60px; display: block; text-align: center; margin: 0 auto;}
.add-det .add-nom{padding-top: 25px; font-size: 18px; padding-left: 0; display: block;}
.add-an-nominee-rw{padding: 30px;}
.add-an-nominee-rw .add-det{display: block; width:100%; text-align: center;}

/*plan summary page*/
.plan-col{width:100%;}
.add-det .summary-nom{display: block; padding-left: 0; padding-top: 25px;}
.add-det .add-in-nom-name{display: block; text-align: center;}
.add-det .add-in-demat-name{font-size: 18px;}
.add-det span.add-det-btn-sec{display: block; padding-left: 0; padding-top: 35px;}
.plan-summ-sec .edit-title-rw .edit-btn{margin-top: 3px; font-size: 14px;}
.plan-col-inner{background: transparent; border-radius: 0;}

/*payment details page*/
.pay-btn-rw .later-btn, .pay-btn-rw .blue-btn, .pay-cheque-col{width:100%; margin-left: 0;}
.pay-btn-rw .later-btn{margin-top: 10px; background: #999999; color: #fff; border-color: #999999; padding: 15px 30px;}
.pay-btn-rw .later-btn:hover{background: #fff; color: #999999;}
.pay-btn-rw .blue-btn{margin-right:0; margin-bottom:10px;}
.pay-btn-rw .blue-btn:last-child{margin-bottom: 0;}
.pay-later-sec{padding: 0 15px;}


/*ekyc process completion page*/
.ekyc-process-comp-1{text-align: center; padding-right: 0;}
.ekyc-process-comp-sec p{text-align: left;}
.ekyc-process-tab .form-title{text-align: center;}
.ekyc-process-tab .ekyc-process-paper-sec .form-title, .ekyc-process-tab .ekyc-process-paperless-sec .form-title{text-align: left;}
.ekyc-process-paper-sec .send-document-col, .ekyc-process-paperless-sec .send-document-col{width: 100%; text-align: left; float: left; padding-bottom: 50px;}
.send-document-inner{text-align: left; padding: 0 9px; position: relative; padding-left: 90px;}
.send-document-inner img{position: absolute; left:0;}
.send-doc-title{width:150px;}
.ekyc-process-paper-sec .ekyc-timeline-rw, .ekyc-process-paperless-sec .ekyc-timeline-rw{width: 1px; left: 74px; margin: 0; height: 85%; top:0;}
.send-document-sec{padding: 0 50px;}
.send-document-inner:after{background: url('../../../images/ekyc-completion/mobi-down-arrow.png') no-repeat; background-size: 100% 100%; right:auto; left: 17px; top: 75px; width: 16px; height: 8px;}
.ekyc-process-tab .ekyc-process-paper-sec .send-document-inner:after{top:66px;}
.ekyc-address-sec{padding-top: 0;}
.ekyc-process-tab .ekyc-process-paperless-sec .form-title{padding-bottom: 50px;}
.ekyc-process-tab .ekyc-process-paper-sec .send-document-inner{padding-bottom: 12px;}





}

@media (max-width: 534px) {
/*Password Page*/
.profile-img-sec h4{font-size: 12px;}
.mobi-hi-sec-inner.mobi-open .profile-img-sec p, .profile-img-sec p{font-size: 13px;}
.up-arrow-sec .fa{font-size: 20px;}
.blue-btn{font-size: 16px;}

/*Payment Successful Page*/
.resend-btn, .pay-success-txt{width:100%;}
.navbar-inverse.main-navbar.inner-navbar .navbar-brand{padding: 12px 0;}

/*reset password page*/
.rest-pass-sec .form-title{font-size: 18px;}
.rest-pass-sec .form-para{font-size: 16px;}
.rest-pass-sec  .form-col-inner{padding: 40px 15px 0;}

/*email sent page*/
.email-send-img-sec{margin: 0 -15px;}
.emil-send-sec{padding: 50px 0 20px;}
.resend-sec{padding: 15px 15px 0;}
.resend-sec .mail-msg{font-size: 18px; margin:15px 0 30px;}
.email-send-img-sec .email-para{font-size: 18px;  padding: 0 15px 45px;}
.emil-send-sec .user-name{padding: 30px 15px 20px;}


/*login page*/
.form-title {font-size: 20px;}
.rem-sec, .frg-pass, .form-rw label, .form-para{font-size: 14px;}
.sign-inner-sec .squaredThree label{top: 0px; left: -10px; width:18px; height:18px;}
.squaredThree{width:18px;}
.sign-inner-sec .squaredThree label:after{top:5px; left:4px; width:11px; height:5px;}

/*select plan page*/
.plan-sec .dmaholder, .plan-sec .half{width: 100%;}


/*select segement page*/
.segment-head, .segment-txt .seg-chk li{font-size: 15px;}

/*plan summary page*/
.edit-title-rw .bank-title.form-title{font-size: 20px;}
.plan-status{font-size: 14px; margin-bottom: 13px;}
.plan-title{font-size: 20px; margin: 0 0 20px;}
.add-det .add-in-demat-name, .add-det .add-in-nom-name{font-size: 15px;}


/*404 page*/
.error .text-size{font-size: 20px;}
}

@media (max-width: 480px) {
/*payment successful*/
.pay-successful-para{font-size: 18px;}
.pay-success-txt{font-size: 14px; line-height: 25px;}
.tra-msg{font-size: 16px;}
.email-send-img-sec .email-para{font-size: 16px;}

/*sign up page*/
.form-title{font-size: 18px;}
.term-rw p{font-size: 13px;}

/*payment details page*/
.pay-later-sec{padding: 0;}
.pay-label, .pay-amt, .total-label, .total-price{font-size: 14px;}
.apply-btn, .cp-code{font-size: 16px;}
.cp-box{padding: 12px 10px;}

/*ekyc process completion page*/
.send-doc-title{width:auto;}

/*pricing modal*/
.content .row{padding: 0;}

/*inner header*/
.identity-tab li .text-capital span{font-size: 10px;}
}

@media (max-width: 360px) {
/*payment successful*/
.tra-msg{font-size: 14px;}
.account-href span{font-size: 10px;}
.account-href .glyphicon-menu-down{margin-left:6px;}
.navbar-inverse.main-navbar.inner-navbar .navbar-brand{padding: 16px 0;}
.navbar-brand img.mobi-logo{width: 132px;}
}

@media (max-width: 320px) {

}
